body {
    margin: 0;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Roboto', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
    height: 100%;
    margin: 0;
    width: 100%;
}

html, body,
#root, #root > div,
.App, .App > div {
    height: 100%
}

.MuiToolbar-regular {
    min-height: auto !important;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}
